<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Cookbook</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/Content/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/Content/bootstrap-responsive.css" />
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
		        <div class="container">
           		    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">	
				        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
          		    </a>	
			        <a class="brand" href="/" >Cookbook</a>
			        <div class="nav-collapse">
				        <ul class="nav">
					        <li class="divider-vertical"></li>
                            <li class="dropdown" id="menu1">
                                <a href="/NewsFeed">News Feed</a>
                            </li>
                            <li class="dropdown" id="menu2">
                                <a href="/DiscoveryFeed">Discover</a>
                            </li>
					        <li class="dropdown" id="menu3">
					            <a class="dropdown-toggle" data-toggle="dropdown" href="#menu3">
					              My Blogs
					              <b class="caret"></b>
					            </a>
					            <ul class="dropdown-menu">
					              <li><a href="/Cookbook/">Blog 1</a></li>
					              <li><a href="/Cookbook/">Blog 2</a></li>
					            </ul>
				  	        </li>
				        </ul>
			            <ul class="nav pull-right">
				            <li class='divider-vertical'></li> 
                            @{
                                if (@User.Identity.Name == "")
                                {
                                    <li class="login" id="menu4">
                                        <a href="/Account/Login">Log In</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="logoff dropdown" id="menu5">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menu5">
					                      @User.Identity.Name
					                    </a>
					                    <ul class="dropdown-menu">
					                      <li><a href="/Account/Manage">Settings</a></li>
					                      <li>@Html.ActionLink("Log Off", "LogOff", "Account")</li>
					                    </ul>
                                    </li>
                                }
    
                            }
                        </ul>
			        </div>
		        </div>
	        </div>
        </div>
        <div class="wrapper">
              @RenderBody()
        </div>
        @*<footer>
            <div class="container">
		        <div class="row-fluid">
			        <div class='span3'>
            			<strong>Newsletter</strong>
            			<p>Sign up for our newsletter where we'll keep you up to date with new datasets and features!</p>
            			<form class='navbar'>
              				<input class='input-medium' type='text' name='email' placeholder='Your e-mail address'></input>
            			</form>
          		    </div>
          		    <div class='span3'>
            			    <p><strong>Let's Be Friends!</strong></p>
				            <br>
            			    <p>
              			    <a style='text-decoration: none' href='http://facebook.com'><span style='font-size: 42px;' class='social'>F</span></a>
              			    <a style='text-decoration: none' href='http://twitter.com'><span style='font-size: 42px;' class='social'>t</span></a>
            			    </p>
          		    </div>          
          		    <div style='float: right;'>
          			    <ul class='footer'>
        	 			    <li><a href='/docs'>FAQ</a></li>
        	 			    <li><a href='#'>Developers</a></li>
        	 			    <li><a href='#'>Privacy and Terms</a></li>
				        </ul>
			        </div>
		        </div>
	        </div>
        </footer>*@
    </body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</html>
