@model List<Cookbook.Models.ViewPostModel>

<div class="row-fluid">
    <div class="span4" style="padding-left: 2em;">
        <div class="addPostRecipe">
            <ul class="nav nav-tabs" style="margin-bottom: 0px;">
                <li class="active"><a href="#post" data-toggle="tab">Create Recipe</a></li>
                <li><a href="#recipe" data-toggle="tab">Create Post</a></li>
            </ul>
            <div class="tabbable">
                <div class="tab-content">
                    <div class="tab-pane active" id="post">
                        @Html.Partial("UploadRecipe", new Cookbook.Models.UploadRecipeModel())
                        
                    </div>
                    <div class="tab-pane" id="recipe">
                        @Html.Partial("UploadPost", new Cookbook.Models.UploadBlogPostModel())
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span7">
        @foreach (var post in Model)
        {
            <br />
            <div class="row-fluid recipeOrPost">
                <div class="span4 offset1">
                    @{
                        string imageUrl = post.ImageURL;
                        if (imageUrl == null)
                        {
                            imageUrl = "http://newyork.cities2night.com/public/article_images/1281.jpg";
                        }
                    }
                    <img src=@imageUrl class="recipeImage" />
                </div>
                <div class="span1 divider">

                </div>
                <div class="span5">
                    <h4 class="recipeTitle">@post.Title</h4>
                    @if (post.RecipePost != null)
                    {
                        <p><strong>Ingredients:</strong></p>
                        foreach (var ingredient in post.RecipePost.Ingredients)
                        {
                            <p>@ingredient</p>
                        }

                        <p><strong>Instructions:</strong></p>
                        <p>@post.RecipePost.Instructions</p>
                        <p><b>x Likes. </b><a href="/Cookbook/LikeRecipe/?postId=@post.PostId">Like</a></p>
                    }
                    @if (post.BlogPost != null)
                    {
                        <p>@post.BlogPost.Post</p>
                        <p><b>x Likes. </b><a href="/Cookbook/LikeBlog/?postId=@post.PostId">Like</a></p>
                    }
                    <p><i>Posted on @post.DateCreated</i></p>

                </div>
            </div>
        }
        <div class="row-fluid span4 offset4">
            <ul class="pager">
            @if (ViewBag.Page > 1)
            {
                    <li class="previous">
                        @Html.ActionLink("← Newer", "Index", new { page = ViewBag.Page - 1 })
                    </li>
            }
            else
            {
                <li class="previous disabled">
                        <a href="#">← Newer</a>
                </li>
            }
            @if (ViewBag.Page < ViewBag.LastPage)
            {
                <li class="next">
                    @Html.ActionLink("Older →", "Index", new { page = ViewBag.Page + 1 })
                </li>
            }
            else
            {
                <li class="next disabled">
                    <a href="#">Older →</a>
                </li>
            }
            </ul>
        </div>
    </div>
</div>