@{
    
}

<div class="addPostRecipe row-fluid">
    <div class="span4 offset4">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#post" data-toggle="tab">Create Post</a></li>
            <li><a href="#recipe" data-toggle="tab">Create Recipe</a></li>
        </ul>
        <div class="tabbable">
            <div class="tab-content">
                <div class="tab-pane active" id="post">
                    @RenderPage("~/Views/Cookbook/UploadPost.cshtml")
                </div>
                <div class="tab-pane" id="recipe">
                    @RenderPage("~/Views/Cookbook/UploadRecipe.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <h3 style="text-align:center;">Your Recipes</h3>
    @foreach (var recipe in ViewBag.MyRecipes)
        {
            <br />
            <div class="row-fluid recipeObject">
                <div class="span4 offset2 recipeLeftSide">
                    @{
                        string imageUrl = recipe.Key.ImageUrl;
                        if(imageUrl == null)
                        {
                            imageUrl = "http://newyork.cities2night.com/public/article_images/1281.jpg";
                        }
                    }
                    <img src=@imageUrl class="recipeImage" />
                    <h4>@@@User.Identity.Name</h4> <!-- This needs to be changed to user name -->
                </div>
                <div class="span4 recipeRightSide" style="margin-left: 0px;">
            
                    <h4 class="recipeTitle">@recipe.Key.Title</h4>
                    <p><strong>Ingredients:</strong></p>
                    @foreach (var ingredient in recipe.Value)
            	    {
                	    <p>@ingredient</p>
            	    }

                    <p><strong>Instructions:</strong></p>
                    <p>@recipe.Key.Instructions</p>
                    <p><i>Posted on @recipe.Key.DateCreated</i></p>
                </div>
            </div>
        }
</div>

<div class="row-fluid">
    <h3 style="text-align:center;">Your Posts</h3>
    @foreach (var post in ViewBag.MyPosts)
        {
            <br />
            <div class="row-fluid recipeObject">
                <div class="span4 offset2 recipeLeftSide">
                    @{
                        string imageUrl = post.ImageUrl;
                        if(imageUrl == null)
                        {
                            imageUrl = "http://newyork.cities2night.com/public/article_images/1281.jpg";
                        }
                    }
                    <img src=@imageUrl class="recipeImage" />
                    <h4>@@@User.Identity.Name</h4> <!-- This needs to be changed to user name -->
                </div>
                <div class="span4 recipeRightSide" style="margin-left: 0px;">
            
                    <h4 class="recipeTitle">@post.Title</h4>
                    <p>@post.Post</p>
                    <p><i>Posted on @post.DateCreated</i></p>
                </div>
            </div>
        }
</div>