@model Cookbook.Models.UploadBlogPostModel

@{
    ViewBag.Title = "Upload Post";
}
<div class="well">
    @using (Html.BeginForm("UploadPost", "Cookbook", FormMethod.Post,
        new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
                    @Html.LabelFor(m => m.Title)
                    @Html.TextBoxFor(m => m.Title)
            <br />
                    @Html.LabelFor(m => m.Post)
                    @Html.TextBoxFor(m => m.Post)
            <br />
                    @Html.LabelFor(m => m.Tags)
                    @Html.TextBoxFor(m => m.Tags)
            <br />

            <label for="File">Picture:</label>
            <input type="file" name="File" id="File" accept="image/*"/>
            <br />
            <br />
            <button type="submit" class="btn btn-primary">Upload Post</button>
        </fieldset>

    }        
</div>