@model Cookbook.Models.UploadRecipeModel

@{
    ViewBag.Title = "Upload Recipe";
}
<div class="well">
    <p>Uploading images is currently not supported. Sorry!</p>
    @using (Html.BeginForm("UploadRecipe", "Cookbook"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title)
            <br />
            @Html.LabelFor(m=> m.Ingredients)
            @Html.EditorFor(m=> m.Ingredients)
            <br />
            @Html.LabelFor(m => m.Instructions)
            @Html.EditorFor(m => m.Instructions, new { cols = 35, rows = 10 })
            <br />
            @Html.LabelFor(m => m.Tags)
            @Html.TextBoxFor(m => m.Tags)
            <br />
            <button type="submit" class="btn btn-primary">Upload Recipe</button>
        </fieldset>

    }
</div>
