@model List<Cookbook.Models.ViewPostModel>

<div class="row-fluid">
    <div class="span4 offset1 well profilePic" style="text-align:center;">
        <img src="~/Content/images/defaultUser.png" />
        <h3>@ViewBag.Username</h3>
        <p>
            @if(!ViewBag.IsSubscribed)
            {
                @Html.ActionLink("Subscribe", "AddSubscriber", "Subscribe", new { userId = ViewBag.UserId }, new { })
            }
            else
            {
                @Html.ActionLink("Unsubscribe", "RemoveSubscriber", "Subscribe", new { userId = ViewBag.UserId }, new { })
            }
        </p>
    </div>
    <div class="span7">
        @foreach (var post in Model)
        {
            <br />
            <div class="row-fluid recipeOrPost">
                <div class="span4 offset1">
                    @{
                        string imageUrl = post.ImageURL;
                        if (imageUrl == null)
                        {
                            imageUrl = "http://newyork.cities2night.com/public/article_images/1281.jpg";
                        }
                    }
                    <img src=@imageUrl class="recipeImage" />
                    <h4>@ViewBag.Username</h4>
                </div>
                <div class="span1 divider">

                </div>
                <div class="span5">
                    <h4 class="recipeTitle">@post.Title</h4>
                    @if (post.RecipePost != null)
                    {
                        <p><strong>Ingredients:</strong></p>
                        foreach (var ingredient in post.RecipePost.Ingredients)
                        {
                            <p>@ingredient</p>
                        }

                        <p><strong>Instructions:</strong></p>
                        <p>@post.RecipePost.Instructions</p>
                        <p><b>@post.RecipePost.LikeCount Likes. </b><a href="/Cookbook/LikeRecipe/?postId=@post.PostId">Like</a></p>
                    }
                    @if (post.BlogPost != null)
                    {
                        <p>@post.BlogPost.Post</p>
                        <p><b>@post.BlogPost.LikeCount Likes. </b><a href="/Cookbook/LikeBlog/?postId=@post.PostId">Like</a></p>
                    }
                    <p><i>Posted on @post.DateCreated</i></p>

                </div>
            </div>
        }
        <div class="row-fluid span4 offset4">
            <ul class="pager">
            @if (ViewBag.Page > 1)
            {
                    <li class="previous">
                        @Html.ActionLink("← Newer", "ViewCookbook", new { page = ViewBag.Page - 1, userId = ViewBag.UserId }, new { })
                    </li>
            }
            else
            {
                <li class="previous disabled">
                        <a href="#">← Newer</a>
                </li>
            }
            @if (ViewBag.Page < ViewBag.LastPage)
            {
                <li class="next">
                    @Html.ActionLink("Older →", "ViewCookbook", new { page = ViewBag.Page + 1 , userId = ViewBag.UserId }, new { })
                </li>
            }
            else
            {
                <li class="next disabled">
                    <a href="#">Older →</a>
                </li>
            }
            </ul>
        </div>
    </div>
</div>