@model Cookbook.Models.LocalPasswordModel

<h3 style="text-align: center;">Change Password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <div class="row-fluid">
            <div class="username span6 offset4">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </div>
        </div>
        <div class="row-fluid">
            <div class="username span6 offset4">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </div>
        </div>
        <div class="row-fluid">
            <div class="username span6 offset4">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="row-fluid">
            <div class="username span6 offset4">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </div>
    </fieldset>
}