@model Cookbook.Models.LoginModel
@{
    Layout = "~/Views/Shared/WelcomeLayout.cshtml";
}

<div class="well span8 offset2">
    <h2 style="text-align: center;">Log In To Cookbook</h2>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <div class="row-fluid">
                <div class="username span6 offset4">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @class = "span7" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
            <div class="row-fluid">
                <div class="password span6 offset4">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "span7" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="row-fluid">
                <div class="loginRegister span6 offset4">
                    <button type="submit" class="btn btn-primary">Log In</button>
                    <button type="button" class="btn btn-inverse" onclick="location.href='/Account/Register'">Register</button>
                </div>
            </div>
        </fieldset>
    }
</div>

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@


@Scripts.Render("~/bundles/jqueryval")
