@model Cookbook.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<div class="well span8 offset2">

    <h1 style="text-align: center;">@ViewBag.Title</h1>

    <p style="text-align: center;" class="alert-success">@ViewBag.StatusMessage</p>

    <p style="text-align: center;">You're logged in as <strong>@User.Identity.Name</strong>.</p>
    <br />
    <br />

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    { 
        @Html.Partial("_SetPasswordPartial")
    }

    @*<section id="externalLogins">
        @Html.Action("RemoveExternalLogins")

        <h3>Add an external login</h3>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>*@

</div>
@Scripts.Render("~/bundles/jqueryval")
